    <div class="form-group" align="center">
          <h3>Inserir Contato</h3>
    <div class="col-md-6">
      <label for="usr">Nome:</label>
      <input ng-model="pessoaForm.nome" type="text" class="form-control" id="nome">

    </div>

    <div class="col-md-6">
      <label for="usr">Email:</label>
      <input  ng-model="pessoaForm.email" type="text" class="form-control" id="email">
    </div>

    <div class="col-md-6">
      <label for="usr">Telefone:</label>
      <input  ng-model="pessoaForm.telefone" type="text" class="form-control" id="telefone">
    </div>

    <div class="col-md-6">
      <label for="usr">Empresa:</label>
      <input ng-model="pessoaForm.empresa" type="text" class="form-control" id="empresa">
    </div>
    
     <div class="col-md-12">
            <button ng-click="main.salvar(pessoaForm)" type="button" class="btn btn-primary active">Salvar Pessoa</button>
        </div>
</div>

